<div><p class="text-center text-uppercase fs-1">Carrito de compras</p></div>
<div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Sub total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>0000</td>
        <td>1</td>
        <td>0000</td>
        <button type="button" class="btn btn-outline-danger">Eliminar</button>
      </tr>
    </tbody>
  </table>

  <hr size="8px"/>
</div>
<div class="container text-center">
  <div class="row justify-content-between">
    <div class="col-2 p-3 text-body bg-body" data-bs-theme="dark">
      Seguir Comprando
    </div>
    <div class="col-3 p-3 text-body bg-body" data-bs-theme="dark">
      Confirmar Compra
    </div>
  </div>
</div>