
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src= {{mainList?.rutaFoto}} class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{mainList?.producto}}</h5>
        <p class="card-text">{{mainList?.descripcion}} as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">{{mainList?.genero}}</small></p>
        <a  [routerLink]="['/Tienda/detail', mainList?.id]" class="btn btn-primary">Ir al producto</a>
      </div>
    </div>
  </div>
</div>
