<div class="overlay" *ngIf="!load">  
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    Loading...
  </button>
</div>
<ng-container *ngIf="load">
  <button type="button" class="btn-close position-absolute top-0 end-0" aria-label="Close"></button>
  <div class="container text-center">
      <div class="row">
        <div class="col-6">
          <img src= {{description.rutaFoto}} class="img-thumbnail" alt="...">
          <hr>
          <h3>{{description.nombre}}</h3>
          <p>{{description.descripcion}}</p>
        </div>
        <div class="col-6">
          <p class="fs-1 fw-bold">{{description.nombre}}: </p>
          <p class="fs-1"> $ {{description.precio}} COP </p>
          <p class="fst-italic fs-5">Seleccione talla para ver disponibilidad de colores</p>
          <p class="fs-2"> Seleccione talla. </p>
          <div class="container text-center">
            <div class="row row-cols-1 row-cols-md-2">
              <div class="container text-center">
                <div class="form-floating">
                  <select class="form-select form-select-lg" id="floatingSelect" aria-label="Floating label select example" name="sizesOptions" [ngModel]="selectedSize" (ngModelChange)="toggleSize($event)">
                    <option [ngValue]="size" *ngFor="let size of sizes">{{size.talla}}</option>
                  </select>
                  <label for="floatingSelect">Seleccione talla</label>
                </div>
              </div>
            </div>
          </div>
          <p class="fs-2 m-2">Seleccione Color.</p>
            <div class="row row-cols-1 row-cols-md-3 m-3">
              <div *ngFor="let color of FilteredColorsBySize">
                <app-select-button [color]="color" (colorSelection)="toggleColor($event)"></app-select-button>
              </div>
            </div>
        <div>
        <div class="container text-center m-3">
          <span class="cantidad">cantidad: </span> 
          <input type="number" [(ngModel)]="quantitySelected" class="form-control-sm" id="quantityInput"  min="1" max="{{quantityLimit}}" value="2">
          <div *ngIf="quantityLimit != 0; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <span class="QuantityInStock"> ({{quantityLimit}} disponibles)</span>
            </ng-template>
            <ng-template #elseBlock>
              <span class="QuantityInStock"> ({{noItemsMesage}})</span>
            </ng-template>
          </div>
        </div>
          <div class="row m-3">
            <div class="col">
              <button type="button" class="btn btn-primary btn-lg" (click)="itemToCart()">Agregar al carrito</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-lg" (click)="goToCart()">Ver Mi carrito</button>
            </div>
          </div>
    </div>
  </div>
</div>
</ng-container>
